
.card-img-top {
  height: 200px;
  object-fit: contain;
}


h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
}



.card a {
  text-decoration: none;
  color: inherit;
}


.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;

}
