
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #caedfd; 
  font-family: 'Segoe UI', sans-serif;
}

main {
  flex: 1;
  padding-top: 60px;     
  padding-bottom: 60px; 
}

header,
footer {
  margin: 0;
  padding: 20px;
}

