
body {
  margin: 0;
    height: 100%;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #caedfd; 
  font-family: 'Segoe UI', sans-serif;
}

main {
  flex: 1;
  padding-top: 60px;     
  padding-bottom: 60px; 
}

header,
footer {
  margin: 0;
  padding: 20px;


}
.miniaturas-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.miniatura-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}


@media (max-width: 768px) {
  .miniaturas-wrapper {
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .miniatura-img {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    scroll-snap-align: center;
  }
}

/* Ajustes para el Header en Celular */
@media (max-width: 768px) {
  .navbar-brand img {
    height: 40px !important; /* Achicamos el logo (antes seguro era más grande) */
    width: auto;
  }
  
  .navbar {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

